<div class="m-3">
<body>
    <div class="header">
        <h1>Welcome to TutorMe PlatForm!</h1>
      </div>
    <%#= image_tag "main.png", style: 'height:50vw;width:100vw;margin-bottom:20px;' %>
      <div id="gallery">
        <img src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZHl8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"/>
        <div>
            <h5><strong> Education Is Not the Learning of Facts</strong></h5>
            <h5><strong> But the Training of the Mind to Think.</strong></h5>
        </div>
        <img src="https://images.unsplash.com/photo-1588196749597-9ff075ee6b5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8b25saW5lJTIwY2xhc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"/>
        <img src="https://images.unsplash.com/photo-1610563166150-b34df4f3bcd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29tcHV0ZXIlMjBzY2llbmNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"/>
        <img src="https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b25saW5lJTIwY2xhc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60"/>
        <img src="https://images.unsplash.com/photo-1542744094-24638eff58bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fG9ubGluZSUyMHRlYWNoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60">
        <img src="https://images.unsplash.com/photo-1537444532052-2afbf769b76c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fG9ubGluZSUyMHRlYWNoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60"/>
        <img src="https://images.unsplash.com/photo-1586985564150-11ee04838034?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fG9ubGluZSUyMGNsYXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60">
        <img src="https://images.unsplash.com/photo-1588702547919-26089e690ecc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b25saW5lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"/>
      </div>
</body>