<%= form_with(model: @enrollment) do |f| %>
  <div class="dropdown">
    <%= f.hidden_field :student_id, value: current_user.id %>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Choose your course
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <%= f.select :lesson_id,  options_for_select(@lessons.collect{ |ls| [ls.subject, ls.id] }) %>
      <li><a class="dropdown-item" href=""></a></li>
    </ul>
  </div>
  <%= f.submit "Enrollment", class: "btn btn-outline-primary btn-md " %>
<% end %>
