<h1>Creating new lesson</h1>




<form class="row g-3">
    <div class="col-md-4">
        <label for="validationDefault01" class="form-label">subject</label>
        <input type="text" class="form-control" id="validationDefault01" value="English" required>
    </div>

    <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Tutor</label>
        <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">Mr.</span>
            <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2"
            required>
        </div>
    </div>

    <div class="col-md-6">
        <label for="validationDefault03" class="form-label">cost</label>
        <input type="text" class="form-control" id="validationDefault03" required>
    </div>

    <div class="col-md-3">
        <label for="validationDefault05" class="form-label">Duration</label>
        <input type="text" class="form-control" id="validationDefault05" required>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>
