<h1>Tutor Admin Panel</h1>

<% @lessons.each do |lesson| %>
  <div>
    <h2><%= link_to lesson.subject, lesson_path(lesson) %></h2>
    <h4> Created <%= time_ago_in_words(lesson.created_at) %> ago </h4>
  </div>
<% end %>


<%# if can? :crud, @lesson %>
  <%#= link_to 'Edit', edit_lesson_path(@lesson) %>
  <%#= button_to 'Delete', lesson_path(@lesson), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }  %>
<%# end %>
